#maincontent{
    margin-bottom: 40px;
    min-height: 100%;
}

footer{
    background-color: #f5f5f5;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    position: fixed;
}
